Repository focofaco/ceocont-etica-public-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-raw-text-only, validate-audit-json, validate-metadata-twin-json, validate-chunks-json, forbid-html-js-css, check-crlf-raw-text, validate-filename-pattern, validate-metadata-twins

validate-raw-text-only:
  name: Validate raw-text files are .txt only
  entry: .claude/hooks/validate_raw_text_only.sh
  language: system
  pass_filenames: true

validate-audit-json:
  name: Validate ingestion-audit.json schema
  entry: python .claude/hooks/validate_audit_json.py
  language: python
  additional_dependencies:
  - pydantic>=2.9.0

validate-metadata-twin-json:
  name: Validate metadata twin JSON files
  entry: python .claude/hooks/validate_metadata_twin_pydantic.py
  language: python
  pass_filenames: true
  additional_dependencies:
  - pydantic>=2.9.0

validate-chunks-json:
  name: Validate chunks.json manifest
  entry: python .claude/hooks/validate_chunks_pydantic.py
  language: python
  additional_dependencies:
  - pydantic>=2.9.0

forbid-html-js-css:
  name: Forbid HTML/JS/CSS in raw-text
  entry: .claude/hooks/forbid_html_js_css.sh
  language: system
  pass_filenames: true

check-crlf-raw-text:
  name: Check CRLF in raw-text files
  entry: .claude/hooks/check_crlf.sh
  language: system
  pass_filenames: true

validate-filename-pattern:
  name: Validate filename patterns
  entry: .claude/hooks/validate_filename_pattern.sh
  language: system
  pass_filenames: true

validate-metadata-twins:
  name: Validate .txt files have .json metadata twins
  entry: .claude/hooks/validate_metadata_twins.sh
  language: system
  pass_filenames: false

fix(meta): correct GitHub organization name from focofacofoco to focofaco
  .github/CODEOWNERS
  .github/SECURITY.md
  CHANGELOG.md
  CHANGELOG.txt
  GITHUB-RELEASES-STATUS.md
  RELEASE-v1.0.0.md
  RELEASE-v1.1.0.md
  RELEASE-v1.2.0.md
  TAG-PUSH-WORKAROUND.md
  create-github-releases.sh
  v1.2.0-RELEASE-STATUS.md
Due: none

feat(content): add chunk_03 fragments 005-006 (2/3)
  online-resources/raw-text/docks/006-estudo-caso-ausencia-responsavel-c717.json
  online-resources/raw-text/docks/006-estudo-caso-ausencia-responsavel-c717.txt
  online-resources/raw-text/plaintext/005-responsabilidade-lideranca-qualidade-2509.json
  online-resources/raw-text/plaintext/005-responsabilidade-lideranca-qualidade-2509.txt
Due: validate-raw-text-only, validate-metadata-twin-json, forbid-html-js-css, check-crlf-raw-text, validate-filename-pattern, validate-metadata-twins

feat(content): complete chunk_03 and implement new validation rules
  ADR.md
  CHANGELOG.txt
  chunks.json
  online-resources/raw-text/plaintext/007-normas-aplicaveis-servicos-contabeis-9baf.json
  online-resources/raw-text/plaintext/007-normas-aplicaveis-servicos-contabeis-9baf.txt
Due: validate-raw-text-only, validate-metadata-twin-json, validate-chunks-json, forbid-html-js-css, check-crlf-raw-text, validate-filename-pattern, validate-metadata-twins

feat(content): add chunk_04 fragments (6/6) - component variation test
  online-resources/raw-text/callouts/008-principios-seguranca-informacao-1fcc.json
  online-resources/raw-text/callouts/008-principios-seguranca-informacao-1fcc.txt
  online-resources/raw-text/faqs/011-diferenca-empresa-privada-publica/a.txt
  online-resources/raw-text/faqs/011-diferenca-empresa-privada-publica/q.txt
  online-resources/raw-text/faqs/013-legislacao-capital-aberto/a.txt
  online-resources/raw-text/faqs/013-legislacao-capital-aberto/q.txt
  online-resources/raw-text/plaintext/010-politica-responsabilidade-social-ambiental-9129.json
  online-resources/raw-text/plaintext/010-politica-responsabilidade-social-ambiental-9129.txt
  online-resources/raw-text/plaintext/012-classificacao-entidades-pies-f7ad.json
  online-resources/raw-text/plaintext/012-classificacao-entidades-pies-f7ad.txt
  online-resources/raw-text/tradeoffs/009-monitoramento-sistemas-931f.json
  online-resources/raw-text/tradeoffs/009-monitoramento-sistemas-931f.txt
Due: validate-raw-text-only, validate-metadata-twin-json, forbid-html-js-css, check-crlf-raw-text, validate-filename-pattern, validate-metadata-twins

feat(meta): update chunks.json with chunk_04 metadata
  chunks.json
Due: validate-chunks-json

feat(content): add chunk_05 fragments (13 total) - all component types
  online-resources/raw-text/callouts/023-responsabilidades-cumprimento-etica-temp.txt
  online-resources/raw-text/disclaimers/016-requisitos-eticos-obrigatorios-temp.txt
  online-resources/raw-text/docks/015-estudo-caso-comportamento-antietico-temp.txt
  online-resources/raw-text/docks/022-estudo-caso-relacionamento-cliente-temp.txt
  online-resources/raw-text/docks/025-estudo-caso-consultoria-conflito-temp.txt
  online-resources/raw-text/faqs/018-codigo-etica-profissional-vs-pessoal/a.txt
  online-resources/raw-text/faqs/018-codigo-etica-profissional-vs-pessoal/q.txt
  online-resources/raw-text/faqs/019-colaboradores-codigo-etica/a.txt
  online-resources/raw-text/faqs/019-colaboradores-codigo-etica/q.txt
  online-resources/raw-text/faqs/020-violacao-codigo-etica/a.txt
  online-resources/raw-text/faqs/020-violacao-codigo-etica/q.txt
  online-resources/raw-text/others/024-orientacoes-reporte-nao-conformidade-temp.txt
  online-resources/raw-text/plaintext/014-exigencias-eticas-relevantes-temp.txt
  online-resources/raw-text/plaintext/021-detalhamento-principios-etica-temp.txt
  online-resources/raw-text/plaintext/026-conclusao-padroes-eticos-temp.txt
  online-resources/raw-text/tables/017-principios-fundamentais-etica.tsv.txt
Due: validate-raw-text-only, forbid-html-js-css, check-crlf-raw-text, validate-filename-pattern, validate-metadata-twins

fix(content): reclassify chunk_05 fragments with proper component types
  online-resources/raw-text/callouts/023-responsabilidades-cumprimento-etica-temp.txt
  online-resources/raw-text/docks/020-estudo-caso-relacionamento-cliente-temp.txt
  online-resources/raw-text/docks/025-estudo-caso-consultoria-conflito-temp.txt
  online-resources/raw-text/faqs/021-colaboradores-codigo-etica/a.txt
  online-resources/raw-text/faqs/021-colaboradores-codigo-etica/q.txt
  online-resources/raw-text/faqs/023-violacao-codigo-etica/a.txt
  online-resources/raw-text/faqs/023-violacao-codigo-etica/q.txt
  online-resources/raw-text/plaintext/016-requisitos-eticos-obrigatorios-temp.txt
  online-resources/raw-text/plaintext/019-detalhamento-principios-etica-temp.txt
  online-resources/raw-text/plaintext/022-responsabilidades-reporte-etica-temp.txt
  online-resources/raw-text/plaintext/024-conclusao-padroes-eticos-temp.txt
Due: validate-raw-text-only, forbid-html-js-css, check-crlf-raw-text, validate-filename-pattern, validate-metadata-twins

chore(content): rename chunk_05 fragments with SHA256 suffixes
  online-resources/raw-text/docks/015-estudo-caso-comportamento-antietico-a0e9.txt
  online-resources/raw-text/docks/020-estudo-caso-relacionamento-cliente-401c.txt
  online-resources/raw-text/plaintext/014-exigencias-eticas-relevantes-7453.txt
  online-resources/raw-text/plaintext/016-requisitos-eticos-obrigatorios-50f4.txt
  online-resources/raw-text/plaintext/019-detalhamento-principios-etica-0cd9.txt
  online-resources/raw-text/plaintext/022-responsabilidades-reporte-etica-c9b3.txt
  online-resources/raw-text/plaintext/024-conclusao-padroes-eticos-3fa6.txt
Due: validate-raw-text-only, forbid-html-js-css, check-crlf-raw-text, validate-filename-pattern, validate-metadata-twins

feat(content): add metadata twins for chunk_05 fragments
  online-resources/raw-text/docks/015-estudo-caso-comportamento-antietico-a0e9.json
  online-resources/raw-text/docks/020-estudo-caso-relacionamento-cliente-401c.json
  online-resources/raw-text/plaintext/014-exigencias-eticas-relevantes-7453.json
  online-resources/raw-text/plaintext/016-requisitos-eticos-obrigatorios-50f4.json
  online-resources/raw-text/plaintext/019-detalhamento-principios-etica-0cd9.json
  online-resources/raw-text/plaintext/022-responsabilidades-reporte-etica-c9b3.json
  online-resources/raw-text/plaintext/024-conclusao-padroes-eticos-3fa6.json
  online-resources/raw-text/tables/017-principios-fundamentais-etica.tsv.json
Due: validate-raw-text-only, validate-metadata-twin-json, validate-metadata-twins

feat(manifest): update chunks.json with chunk_05 data (11 fragments, 4 component types)
  chunks.json
Due: validate-chunks-json

feat(content): add chunk_06 fragments (Integridade e Objetividade) with 6 distinct component types
  online-resources/raw-text/callouts/027-atitudes-eticas-obrigatorias-125f.txt
  online-resources/raw-text/disclaimers/029-proibicoes-integridade-57f6.txt
  online-resources/raw-text/docks/030-estudo-caso-venda-empresa-cliente-bb26.txt
  online-resources/raw-text/faqs/033-garantir-objetividade-trabalho/a.txt
  online-resources/raw-text/faqs/033-garantir-objetividade-trabalho/q.txt
  online-resources/raw-text/faqs/034-independencia-objetividade/a.txt
  online-resources/raw-text/faqs/034-independencia-objetividade/q.txt
  online-resources/raw-text/faqs/035-obter-manter-competencia/a.txt
  online-resources/raw-text/faqs/035-obter-manter-competencia/q.txt
  online-resources/raw-text/header_h2/025-integridade-9730.txt
  online-resources/raw-text/header_h2/032-objetividade-994b.txt
  online-resources/raw-text/plaintext/026-conceito-integridade-etica-e7cd.txt
  online-resources/raw-text/plaintext/028-integridade-profissional-ceticismo-7278.txt
  online-resources/raw-text/plaintext/031-procedimentos-papeis-trabalho-c7ec.txt
  online-resources/raw-text/plaintext/036-objetividade-conceito-procedimentos-1efc.txt
Due: validate-raw-text-only, forbid-html-js-css, check-crlf-raw-text, validate-filename-pattern, validate-metadata-twins

feat(metadata): add metadata twins for chunk_06 fragments
  online-resources/raw-text/callouts/027-atitudes-eticas-obrigatorias-125f.json
  online-resources/raw-text/disclaimers/029-proibicoes-integridade-57f6.json
  online-resources/raw-text/docks/030-estudo-caso-venda-empresa-cliente-bb26.json
  online-resources/raw-text/plaintext/026-conceito-integridade-etica-e7cd.json
  online-resources/raw-text/plaintext/028-integridade-profissional-ceticismo-7278.json
  online-resources/raw-text/plaintext/031-procedimentos-papeis-trabalho-c7ec.json
  online-resources/raw-text/plaintext/036-objetividade-conceito-procedimentos-1efc.json
Due: validate-raw-text-only, validate-metadata-twin-json, validate-metadata-twins

feat(manifest): update chunks.json with chunk_06 data (12 fragments, 6 component types)
  chunks.json
Due: validate-chunks-json

docs(structure): add header directories and README files for structural components
  online-resources/raw-text/header_h1/README.md
  online-resources/raw-text/header_h2/README.md
  online-resources/raw-text/header_h3/README.md
Due: validate-raw-text-only

feat(header_h1,header_h2): extract h1 and h2 headers from 13 plaintext fragments
  online-resources/raw-text/header_h1/001-politica-controle-qualidade-cc68.txt
  online-resources/raw-text/header_h1/002-introducao-800c.txt
  online-resources/raw-text/header_h1/004-sistema-controle-qualidade-0782.txt
  online-resources/raw-text/header_h1/005-responsabilidade-lideranca-qualidade-de75.txt
  online-resources/raw-text/header_h1/007-normas-aplicaveis-servicos-contabeis-eabc.txt
  online-resources/raw-text/header_h1/010-politica-responsabilidade-social-ambiental-climatica-86cb.txt
  online-resources/raw-text/header_h1/012-classificacao-entidades-4093.txt
  online-resources/raw-text/header_h1/014-exigencias-eticas-relevantes-72f6.txt
  online-resources/raw-text/header_h1/016-requisitos-eticos-obrigatorios-e578.txt
  online-resources/raw-text/header_h1/019-detalhamento-principios-fundamentais-c589.txt
  online-resources/raw-text/header_h1/022-responsabilidades-reporte-requisitos-eticos-4e23.txt
  online-resources/raw-text/header_h1/024-conclusao-e27d.txt
  online-resources/raw-text/header_h1/031-procedimentos-documentacao-f303.txt
  online-resources/raw-text/header_h2/002-manual-controle-qualidade-cb38.txt
  online-resources/raw-text/header_h2/004-documentacao-planejamento-operacao-controle-24c0.txt
Due: validate-raw-text-only, forbid-html-js-css, check-crlf-raw-text, validate-filename-pattern, validate-metadata-twins

refactor(plaintext): remove h1 and h2 headers from 13 plaintext fragments
  online-resources/raw-text/plaintext/001-politica-controle-qualidade-contabil-41f5.txt
  online-resources/raw-text/plaintext/002-introducao-manual-controle-qualidade-a1b8.txt
  online-resources/raw-text/plaintext/004-sistema-controle-qualidade-documentacao-7eff.txt
  online-resources/raw-text/plaintext/005-responsabilidade-lideranca-qualidade-2509.txt
  online-resources/raw-text/plaintext/007-normas-aplicaveis-servicos-contabeis-9baf.txt
  online-resources/raw-text/plaintext/010-politica-responsabilidade-social-ambiental-9129.txt
  online-resources/raw-text/plaintext/012-classificacao-entidades-pies-f7ad.txt
  online-resources/raw-text/plaintext/014-exigencias-eticas-relevantes-7453.txt
  online-resources/raw-text/plaintext/016-requisitos-eticos-obrigatorios-50f4.txt
  online-resources/raw-text/plaintext/019-detalhamento-principios-etica-0cd9.txt
  online-resources/raw-text/plaintext/022-responsabilidades-reporte-etica-c9b3.txt
  online-resources/raw-text/plaintext/024-conclusao-padroes-eticos-3fa6.txt
  online-resources/raw-text/plaintext/031-procedimentos-papeis-trabalho-c7ec.txt
Due: validate-raw-text-only, forbid-html-js-css, check-crlf-raw-text, validate-filename-pattern, validate-metadata-twins

fix(metadata): update metadata twins for 13 fragments after header extraction
  online-resources/raw-text/plaintext/001-politica-controle-qualidade-contabil-41f5.json
  online-resources/raw-text/plaintext/002-introducao-manual-controle-qualidade-a1b8.json
  online-resources/raw-text/plaintext/004-sistema-controle-qualidade-documentacao-7eff.json
  online-resources/raw-text/plaintext/005-responsabilidade-lideranca-qualidade-2509.json
  online-resources/raw-text/plaintext/007-normas-aplicaveis-servicos-contabeis-9baf.json
  online-resources/raw-text/plaintext/010-politica-responsabilidade-social-ambiental-9129.json
  online-resources/raw-text/plaintext/012-classificacao-entidades-pies-f7ad.json
  online-resources/raw-text/plaintext/014-exigencias-eticas-relevantes-7453.json
  online-resources/raw-text/plaintext/016-requisitos-eticos-obrigatorios-50f4.json
  online-resources/raw-text/plaintext/019-detalhamento-principios-etica-0cd9.json
  online-resources/raw-text/plaintext/022-responsabilidades-reporte-etica-c9b3.json
  online-resources/raw-text/plaintext/024-conclusao-padroes-eticos-3fa6.json
  online-resources/raw-text/plaintext/031-procedimentos-papeis-trabalho-c7ec.json
Due: validate-raw-text-only, validate-metadata-twin-json, validate-metadata-twins

feat(manifest): update chunks.json with 15 extracted headers (13 h1 + 2 h2)
  chunks.json
Due: validate-chunks-json

docs(placeholders): update inventory to 18 placeholders
  placeholders.txt
Due: none

docs(changelog): update CHANGELOG.txt with chunks 04/05/06 and header extraction
  CHANGELOG.txt
Due: none

docs(readme): update statistics for 51 fragments across 6 chunks
  README.md
Due: none

docs(adr): add ADR-015 (header extraction) and ADR-016 (critical classification)
  ADR.md
Due: none

docs(components): update all README files with current fragment counts and examples
  online-resources/raw-text/callouts/README.md
  online-resources/raw-text/data/README.md
  online-resources/raw-text/diagrams/README.md
  online-resources/raw-text/disclaimers/README.md
  online-resources/raw-text/docks/README.md
  online-resources/raw-text/faqs/README.md
  online-resources/raw-text/header_h1/README.md
  online-resources/raw-text/header_h2/README.md
  online-resources/raw-text/header_h3/README.md
  online-resources/raw-text/others/README.md
  online-resources/raw-text/plaintext/README.md
  online-resources/raw-text/tables/README.md
  online-resources/raw-text/tradeoffs/README.md
Due: validate-raw-text-only

Path conditions:
  validate-raw-text-only: any of: ^online-resources/raw-text/
  validate-audit-json: any of: ^\.claude/ingestion-audit\.json$
  validate-metadata-twin-json: any of: ^online-resources/raw-text/.*\.json$
  validate-chunks-json: any of: ^chunks\.json$
  forbid-html-js-css: any of: ^online-resources/raw-text/.*\.txt$
  check-crlf-raw-text: any of: ^online-resources/raw-text/.*\.txt$
  validate-filename-pattern: any of: ^online-resources/raw-text/(?!meta/).*\.txt$
  validate-metadata-twins: any of: ^online-resources/raw-text/.*\.(txt|json)$
